<div class="row">
  <div class="col s12 m6">
    <div class="card darken-1">
      <div class="card-content black-text">
        <span class="card-title center">Login</span>
        <form class="col s12" [formGroup]="formLogin">
          <div class="row">

            <div class="input-field col s12">
              <input id="email" formControlName="email" type="email" class="validate">
              <label for="last_name">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" formControlName="password" type="password" class="validate">
              <label for="last_name">Password</label>
            </div>
          </div>
          <button (click)="login()" class="btn waves-effect waves-light" name="submit">Submit
         </button>
        </form>
        //
      </div>
    </div>
  </div>
</div>
